<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.orangeHRM.tests.LoginPageValidation"/>
        </classes>
    </test>
    <test name="AdminPage Tests">
        <classes>
            <class name="com.orangeHRM.tests.AdminPageValidation"/>
        </classes>
    </test>
</suite>
